.DS_Store
*checkpoint.ipynb
ud120 Intro to Machine Learning/maildir/*
nd101 Deep Learning Nanodegree Foundation/envs/
nd101 Deep Learning Nanodegree Foundation/DockerImages/09_preparing_for_sirajs_lesson/notebooks/02_intro-to-tflearn/mnist/*
