.DS_Store
*checkpoint.ipynb
ud120 Intro to Machine Learning/maildir/*
nd101 Deep Learning Nanodegree Foundation/envs/
nd101 Deep Learning Nanodegree Foundation/DockerImages/12_tensorflow/notebooks/intro-to-tensorflow/notMNIST_test.zip
nd101 Deep Learning Nanodegree Foundation/DockerImages/12_tensorflow/notebooks/intro-to-tensorflow/notMNIST_train.zip
nd101 Deep Learning Nanodegree Foundation/DockerImages/12_tensorflow/notebooks/intro-to-tensorflow/notMNIST.pickle
